body {
	background-color: #e5e7eb;
	font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div h1 {
    text-align: center;
}
#avatar {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/profile.png);
    background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
}